{%extends 'base.html'%}
{% load bootstrap4 %}
 {% load staticfiles %}

{% block content %} 
{{ block.super}}
   <div class="container">
       <div class="row">
        {% for business in businesses %}
            <h1 style="text-align: center;">Welcome to the {{business.hood.hood}} neighbourhood</h1><br><br>
            <p style="margin-right: 1%"><a href="{%url 'exit' business.hood.id%}"> Leave hood</a></p>
          <div style="border-block-color: blue;">
            <h2>Businesses in the neighbourhood</h2>
            <div class="card">
                
                <h3 class="card-header">{{business.name}}</h3>
                <p>description:{{business.description}}</p>
                <p>police:{{business.hood.police}}</p>
                <p>health_department:{{business.hood.health_department}}</p>
            </div>
          </div>
        {% endfor %}

        {% for post in posts %}
        <div style="border-block-color: blue;float:right;">
            <h6>post_name:{{post.name}}</h6>
            <p>description{{post.description}}</p>
            <p>Owner:{{post.user}}</p>
           
        </div>
        {% endfor%}
       </div>
   </div>
{% endblock %}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/hood.css' %}">
{% endblock %}