{%extends 'base.html'%}
{% load bootstrap4 %}
 {% load staticfiles %}

{% block content %} 
{{ block.super}}

    {% for business in businesses %}
        <h2>{{business.name}}</h2>
        <p>{{business.description}}</p>
        <p>police:{{business.hood.police}}</p>
        <p>health_department:{{business.hood.health_department}}</p>
        <p>posts:{{business.hood.post}}</p>
        
    {% endfor %}

    {% for post in posts %}
        <h4>{{post.name}}</h4>
        <img src="{{post.image.url}}">
    {% endfor%}

{% endblock %}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/hood.css' %}">
{% endblock %}