<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="static/css/hood.css">
</head>
<body class="jumbotron">
        <ul class="nav nav-tabs">
                <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li  style="margin-left:50%;">
                        <div style="padding:10px;">
          
                          <form class="form" role="search" action="{% url 'search_results' %}">
                            <input class="form-control mr-sm-2" type="search"  name="name" placeholder="Search" aria-label="Search" style="background-color: transparent;color:white;">
                            
                          </form>
                          </div>
                    </li>  

                    {% if user.is_authenticated %}
                          <li>
                            <a href="/logout">Logout</a>
                          </li>
                          <li style="float:right;margin-left: 10%;">
                              <a href="{%url 'profile' user.id %}">{{user.username}}<img src="../../static/images/profileee.png" alt="instagram logo on nav-bar " style="width:53px; height:30px;margin-top:5px;border-right:1px solid;padding-right: 23px; "></a>
                            </li>
                    {% else %}
                          <li>
                            <a class='btn btn-default' href="/accounts/login">Login</a>
                          </li>
                    {% endif %}
        </ul>
</body>
</html>