<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="static/css/hood.css">
</head>
<body class="jumbotron">
        <ul class="nav nav-tabs">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li>
                        <div style="padding:10px;">
          
                          <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
                            <input class="form-control mr-sm-2" type="search"  name="name" placeholder="Search" aria-label="Search" style="background-color: transparent;color:white;">
                            
                          </form>
                          </div>
                    </li>

                    {% if user.is_authenticated %}
                          <li>
                            <a href="/logout">Logout</a>
                          </li>
                    {% else %}
                          <li>
                            <a class='btn btn-default' href="/accounts/login">Login</a>
                          </li>
                    {% endif %}
        </ul>
</body>
</html>